/* Reset Css */
a {
  color: inherit; /* 부모 color색 상속 */
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  color: #fff;
  background-color: #3040c4;
  border-radius: 2px;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}

.fill-button:hover {
  opacity: .5;

}

body {
  scroll-behavior: smooth;
  font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
  background-color: #CCCCFF;
}

h1 {
  color: #4a535d;
}